body {
	margin:0px;
	font-family: sans-serif;
	background-color:#F0F0F0;
	background-image:url('images/bg.png');
}
p {
	margin: 0px;
}
#choice {
	margin-top: 25px;
}
#choice img {
	width: 384px;
	height: 384px;
}
.disabled {
	color:#C0C0C0;
}
#numbers {
	text-align: center;
	margin: 10px;
}
#elim,#total {
	display: inline-block;
	width: 24px;
	margin: 0 3px 0 3px;
}
.fav {
	z-index: -1;
	width: 96px;
	height: 96px;
	box-shadow: 0 2px #dddddd;
}
.overlay {
	position: absolute;
	width: 14px;
	text-align: center;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#choice {
	text-align: center;
}
button.pkmn {
	background-color: #ffffff;
	box-shadow: 0 4px #dddddd;
	border: solid #dddddd 1px;
	border-radius: 5px;
	display: inline-block;
	outline: none;
	position: relative;
	padding: 5px;
}
button.pkmn:hover {
	box-shadow: 0 2px #dddddd;
	top: 2px;
}
button.pkmn:active {
	box-shadow: 0 0;
	top: 4px;
}
#big {
	width: 192px;
	height: 192px;
	text-align: center;
	margin: 5px 0 5px 0;
}